@page "/"
@inject HttpClient Http
@inject DataAccessService da
@using FishStocks.Library

<PageTitle>Index</PageTitle>

@if (fishTransactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var transaction in fishTransactions)
            {
                <tr>
                    <td>@transaction.Name</td>
                    <td>@transaction.DateEntered</td>
                    <td>@transaction.Price</td>
                </tr>
            }
        </tbody>
    </table>
}



@code{
    public Fish fish;
    public List<FishTransaction> fishTransactions;

    protected override async Task OnInitializedAsync()
    {
        fishTransactions = await da.GetTransactionsAsync();

    }
}
